@fontface {
font-family: verdana;
}
.header {
	font-family: verdana;
	color: black;
	text-align: center;
}
.body {
	font-family: verdana;
	color: black;
	text-align: center;
}
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
	border-right: solid green 1px;
}
.nav a {
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: #00BD03;
}
.nav a:hover {
	color: #fff;
	transition: 0.4s;
}
.nav .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px
}
.slide a {
	color: #000;
	font-size: 36px;
}
#content {
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}
.fa-bars {
	color: #00BD03;
}
.fa-times {
	color: #00BD03;
}
